html{width: 100%;height: 100%;overflow: scroll;}
.input form{
    position: absolute;
    padding: 25px 30px;
    top: 20%;
    left: 50%;
    width: 500px;
    height: 650px;
    margin: 0;
    box-shadow: 0px 4px 20px rgb(3, 3, 3);
    transform: translate(-50%, -20%);
    background-color: white;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color :rgba(9, 2, 2, 0.974);
    background-image : url("/static/images/background.jpg");
    background-repeat : no-repeat;
    background-size:cover;
}
heading{
    color: rgb(11, 8, 10);
    text-align: center;
    margin-bottom: 20px;
}
button{
    display: block;
    width: 200px;               
    height: 45px;
    background-color: #166c8e;
    border: none;
    color: rgb(251, 254, 255);
    font-size: 18px;
    border-radius: 8px;
    display: block;
    cursor: pointer;
    margin: 20px auto 0 auto;   
    font-weight:lighter;
    font-size: 20px;
    transition: 0.3s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

button:hover{
    background-color:rgb(246, 61, 61);
    transition: .5s ease-in-out;
    color:rgb(154, 138, 138);
}
input[type=text] {
    font-size: 15px;
    text-align: center;
    border-radius: 4px;
    height:35px;
    border: 1px solid #000000;
    padding-left: 10px;

  }
.mb-3 {
    margin-bottom: 5px;
}
img{
    width: 100%;
    height:80%
}

.prediction-text {
    margin-top: 100px;
    padding: 0.1px 30px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 100;
    color: #065b7c;
    text-decoration-style: double;
    text-align: center;
}
